@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GmarketSansMedium';
}
  
.file-upload {
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding:10rem 0;

}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
  color:#000;
  margin: 0 5rem;
}

.image-dropping,
.image-upload-wrap:hover {
  color:#888;
  border: 1px solid #888;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  padding: 1.5rem 0;
}

.drag-text img {
  width: 20%;
  margin-bottom: 20px;
}


.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 90%;
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.navbar {
  background-color: #ffffff;
  border-top: .5rem solid #000;
  border-bottom: 1px solid #ececec;
}

.navbar-toggler {
  border-color: #ffffff !important;
}

.navbar-brand {
  color: #000000 !important;
  font-weight: bolder;
  font-size: 1rem;
} 

.mgT20 {
  margin-top: 20px;
}
.mgT10 {
  margin-top: 10px;
}

.bts-bg {
  background-color: #000;
  color: white;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top:0.2rem;
}

.main-image {
  position: relative;
}

.main-image img{
  width: 100%;
  z-index: 1;
}

.pd20 {
  padding: 20px;
}

.pdL20 {
  padding-left: 20px;
}

.pdR20 {
  padding-right: 20px;
}

.title {
  color: #ffffff;
  position: absolute;
  text-align: center;
  bottom: 10%;
  z-index: 3;
}

.start-button {
  border: 2px solid #fff;
  font-size: 2rem;
  margin: 0 7rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  padding-top:0.5rem;
}

.mgT-1 {
  margin-top: -1rem;
}

.hide {
  display: hidden;
}

.width100 {
  width: 100%;
}

.mid-image {
  background-color: #000000;
}

.bottom-text {
  height: 400px;
  background-color: #000;
  font-size: 3rem;
  color: #ffffff;
  padding-top: 3rem;
  text-align: center;
  font-weight: bolder;
}

.bts-bottom-text {
  background-color: #ffffff;
  color: #000000;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top:0.5rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}
 
iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.black-filter {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0.3;
}